<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>LuceneServlet</servlet-name>
  	<servlet-class>LuceneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HadoopServlet</servlet-name>
  	<servlet-class>HadoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LuceneServlet</servlet-name>
  	<url-pattern>/lucene</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HadoopServlet</servlet-name>
  	<url-pattern>/hadoop</url-pattern>
  </servlet-mapping>
</web-app>